* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --bg-beigeLight: hsla(41, 57%, 83%, 0.863);
  --text-color: #303030;
  --hue: 105;
  --primary-color: hsl(var(--hue), 79%, 32%);
  --btn-color: hsl(var(--hue), 60%, 80%);
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: rgb(250, 254, 255);
}

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 2rem;
}

.colunaAcao {
  text-align: center;
}

button {
  background: var(--btn-color);
  border: none;
  border-radius: 0.4rem 0.4rem;
  height: 3.2rem;
  padding: 0 0.5rem;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.1);
}

table {
  width: 100%;
  font-size: 1.4rem;
  box-shadow: 0 1rem 2rem -1rem rgb(var(--hue), 15, 20);
}

table th {
  width: 15rem;
  height: 3rem;
  background: var(--primary-color);
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
}

table td {
  padding: 1.1rem;
  text-align: left;
}

table th:last-child {
  border-top-right-radius: 0.4rem;
}

table th:first-child {
  border-top-left-radius: 0.4rem;
}

table tr:nth-child(even) {
  background: #eee;
}

table tr:nth-child(odd) {
  background: #ddd;
}
